{% extends 'admin/base.html.twig' %}

{% block title %}New Utilisateur{% endblock %}

{% block content %}
    <div class="col-12"> <a href="{{ path('admin_user_index') }}" class="btn btn-outline-primary  mb-3">back to list</a></div>

    {{ include('admin/user/_form.html.twig') }}

{% endblock %}
