{% extends 'admin/base.html.twig' %}

{% block title %}Edit Discipline{% endblock %}

{% block content %}
    <div class="col-12"> <a href="{{ path('admin_discipline_index') }}" class="btn btn-outline-primary mb-3">Back to list</a></div>
    {{ include('admin/discipline/_form.html.twig', {'button_label': 'Update'}) }}
    <div class="col-12 mt-3"> {{ include('admin/discipline/_delete_form.html.twig') }} </div>





{% endblock %}
