{% extends 'admin/base.html.twig' %}

{% block title %}Edit Classe{% endblock %}

{% block content %}
    <div class="col-12"> <a href="{{ path('admin_classe_index') }}" class="btn btn-outline-primary mb-3">Back to list</a></div>
    {{ include('admin/classe/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="col-12 mt-3"> {{ include('admin/classe/_delete_form.html.twig') }}</div>

{% endblock %}
