{% extends 'admin/base.html.twig' %}

{% block title %}Hello CalendarController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.css">
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.js"></script>
{% endblock %}

{% block content %}
                <div class="container ">
                    <div id='calendar'></div>
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            let calendarEl = document.getElementById('calendar');
                            let calendar = new FullCalendar.Calendar(calendarEl, {
                                initialView: 'timeGridWeek',
                                locale:'fr',
                                timeZone: 'Europe/Paris',
                                headerToolbar:{
                                    start:'prev,next today',
                                    center: 'title',
                                    end:'dayGridMonth,timeGridWeek'

                                },
                                events:{{ data|raw }},
                                editable:true,
                                eventResizableFromStart:true
                            });

                            calendar.on('eventChange', (e)=>{
                                let url = `/admin/calendar/api/${e.event.id}/edit`;
                                let donnees = {
                                    'title': e.event.title,
                                    'start':e.event.start,
                                    'end':e.event.end
                                }
                                let xhr = new XMLHttpRequest()

                                xhr.open('PUT', url)
                                xhr.send(JSON.stringify(donnees))
                            })

                            calendar.render();
                        });

                    </script>
                </div>


{% endblock %}